<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyFolio - Portfolio HTML Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Portfolio HTML Template" name="keywords">
  <meta content="Portfolio HTML Template" name="description">
</head>

<body>
  <!-- Header Start -->
  <div class="top-header" id="top-header" style="background-image: url(../assets/img/Linou4.jpeg); background-size: cover; 
  opacity: 0.95; ">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <img src="assets/img/Linou1.jpeg" alt="Lina Messia" style="height: 16em; margin-top: -1em;">
        </div>

        <div class="col-md-12">
          <h1>Je suis {{nom}}</h1>
        </div>

        <div class="col-md-12">
          <p>Créateur de sites web, Développeur web, Développeur Front End, Développeur d'applications mobiles</p>
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Nav Start -->
  <div class="header">
    <div class="container">

      <div class="logo pull-left">
        <h1><a href="index.html">MonFolio</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#top-header">Accueil</a></li>
          <li><a href="#about">A Propos</a></li>
          <li><a href="#experience">Projets Réalisés</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contactez moi</a></li>
        </ul>
      </nav>

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
            class="fa fa-linkedin"></i></a>
      </nav>
    </div>
  </div>
  <!-- Nav End -->
  <span>ci-cdProject app is running!</span>

  <!-- About Me Start-->
  <div class="about" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-4">
          <img class="img-fluid" src="../assets/img/Linou3.jpeg" />
        </div>
<span style="display: none;">ci-cdProject app is running!</span>
        <div class="col-md-6 col-lg-8">
          <header class="section-header">
            <h2>A Propos</h2>
          </header>
          <h3><strong>Nom:</strong> {{nom}}</h3>
          <h4><strong>Profession:</strong> Stagiaire</h4>
          <p>
            Je suis étudiante en cycle ingénieur filière Informatique et Système d'Information à l'Institut
            Universitaire Saint Jean, également capable d'éffectuer des stages académiques s'étendant sur une durée de
            minimum 04 mois. </p>
          <p>
            Je souhaite acquérir une expérience pratique et approfondir mes connaissances dans le but d'enrichir mes
            compétences théoriques en les appliquant dans un environnement professionnel. </p>

          <a href="#">Engagez Moi</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="skills">
            <h3>Technologies</h3>
            <div class="skill-name">
              <p>HTML, CSS, JavaScript</p>
              <p>85%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Angular, Ionic</p>
              <p>70%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Boostrap, React JS</p>
              <p>60%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Python, C</p>
              <p>60%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Java, Springboot</p>
              <p>50%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="skills">
            <h3>Méthodologies & Outils et logiciels</h3>
            <div class="skill-name">
              <p>UML</p>
              <p>70%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Méthodes agiles</p>
              <p>80%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>VS Code, Intellij, Android Studio</p>
              <p>70%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>Git, GitHub, GitLab</p>
              <p>65%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>

            <div class="skill-name">
              <p>WordPress</p>
              <p>65%</p>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- About Me End-->

  <!-- Job Experience Start -->
  <div class="experience" id="experience">
    <div class="container">
      <header class="section-header">
        <h3>Projets réalisés</h3>
        <p>
          Chaque projet est une opportunité de mettre en pratique nos connaissances acquises et nos compétences en
          matière de développement, de conception et de gestion de projets.</p>
      </header>
      <div class="row">
        <div class="col-md-6">
          <div class="exp-column">
            <p class="exp-date">De novembre 2021 <span>à</span> janvier 2022</p>
            <h4 class="exp-company">Application de gestion de notes</h4>
            <h4 class="exp-designation">Institut Universitaire Saint Jean Yaounde, CE, Cameroon</h4>
            <p class="exp-detail">
              Dans ce projet, il s'agissait pour chaque groupe d'étudiants, de mettre un système de gestion de notes
              dans lequel on retrouve, les notes de chaque étudiant par classe, le pv de chaque classe et le relévé de
              notes de chaque étudiant par classe.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="exp-column">
            <p class="exp-date">De mars 2023 <span>à</span> juin 2023</p>
            <h4 class="exp-company">Application web de chat bot musicale</h4>
            <h4 class="exp-designation">Institut Universitaire Saint Jean Yaounde, CE, Cameroon</h4>
            <ul class="exp-detail">
              <!-- <ul> -->
                <li> HTML/CSS/JS</li>
                <li> Utilisation de l'API IBM Emotional pour l'analyse émotionnelle de la conversation</li>
                <li> Utilisation de l'API de Last FM pour les chansons de ce site</li>
              <!-- </ul> -->
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="exp-column">
            <p class="exp-date">De juin 2023 <span>à</span> juillet 2023</p>
            <h4 class="exp-company">Mini application de gestion de comptes banquaires</h4>
            <h4 class="exp-designation">Ecole Nationale Supérieure Polytechnique de Yaoundé, CE, Cameroun</h4>
            <ul class="exp-detail">
              <!-- <ul> -->
                <li> PhpMyAdmin</li>
                <li> Java Swing</li>
                <li> L'application permet à un administrateur de créer des comptes utilisateurs, effectuer des dépôts,
                  retraits d'argent, consulter la liste des comptes, des utilisateurs et bien d'autres opérations.</li>
              <!-- </ul> -->
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="exp-column">
            <p class="exp-date">De juin 2023 <span>à</span> juin 2023</p>
            <h4 class="exp-company">Application d'un supermarché</h4>
            <h4 class="exp-designation">Ecole Nationale Supérieure Polytechnique de Yaoundé, CE, Cameroun</h4>
            <ul class="exp-detail">
              <!-- <ul> -->
                <li> Python</li>
                <li> L'application permet de gérer le stock du supermarché, y compris ses différentes factures</li>
              <!-- </ul> -->
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Job Experience End -->

  <!-- Services Start -->
  <div class="services" id="services">
    <div class="container">
      <header class="section-header">
        <h3>Mes services</h3>
        <p>
          Dans ma gamme de services, je propose une variété de connaissances et de compétences pour répondre à vos
          besoins spécifiques.</p>
      </header>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="single-service">
            <span></span>
            <div class="service-icon"><i class="fa fa-television"></i></div>
            <h4><a href="#">Création de sites web</a></h4>
            <p>Mettre en avant mes connaissances relatives au UI Design pour fournir des résultats assez agréables et
              convaicants</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single-service">
            <span></span>
            <div class="service-icon"> <i class="fa fa-laptop"></i> </div>
            <h4><a href="#">Développement Web</a></h4>
            <p>Mettre en avant mes connaissances relatives au développement web pour fournir des résultats assez
              agréables et convaicants</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="single-service">
            <span></span>
            <div class="service-icon"> <i class="fa fa-android"></i> </div>
            <h4><a href="#">Développement mobile</a></h4>
            <p>Mettre en avant mes connaissances relatives au développement mobile pour fournir des résultats assez
              agréables</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Services End -->

  <!-- Counter Start -->
  <div class="counters">
    <div class="container">
      <header class="section-header">
        <h3 style="color: white;">Mes atouts</h3>
      </header>
      <div class="row">
        <div class="col-md-3 col-sm-6">

          <div class="counter">
            <div class="counter-icon-box"><i class="fa fa-users"></i></div>
            <!-- <div class="number animateNumber" data-toggle="counter-up"> <span>10</span></div> -->
            <h4 class="font-weight">Esprit d'équipe</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon-box"><i class="fa fa-check"></i></div>
            <!-- <div class="number animateNumber" data-toggle="counter-up"> <span>395</span></div> -->
            <h4 class="font-weight">Apprentissage rapide</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon-box"><i class="fa fa-calendar"></i></div>
            <!-- <div class="number animateNumber" data-toggle="counter-up"> <span>225</span></div> -->
            <h4 class="font-weight">Adaptabilité</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="counter">
            <div class="counter-icon-box"><i class="fa fa-heart"></i></div>
            <!-- <div class="number animateNumber" data-toggle="counter-up"> <span>9</span></div> -->
            <h4 class="font-weight">Communication</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter End -->

  <!-- Portfolio Start -->
  <div class="portfolio" id="portfolio">
    <div class="container">
      <header class="section-header">
        <h3 class="section-title">Mon Portfolio</h3>
        <p>
          Je suis fiere de présenter mon portfolio, qui reflète mes compétences et mon engagement vers l'excellence dans
          chaque projet. J'espère que cela vous inspirera et vous donnera une idée claire de la qualité de mon travail.
        </p>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tout</li>
            <li data-filter=".web-des">Création de sites web</li>
            <li data-filter=".web-dev">Développement web</li>
            <li data-filter=".app-dev">Développement mobile</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item web-des">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-1.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-1.jpg" data-lightbox="portfolio" data-title="Curabitur semper erat"
                class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Curabitur semper erat --> <span>Création de sites web</span></h4>
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item web-des">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-2.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-2.jpg" class="link-preview" data-lightbox="portfolio"
                data-title="Maecenas a tempus tortor" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Maecenas a tempus tortor --> <span>Création de sites web</span></h4>
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item web-dev">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-3.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-3.jpg" class="link-preview" data-lightbox="portfolio"
                data-title="Aliquam id sapien lorem" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Aliquam id sapien lorem --> <span>Développement web</span></h4>
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item web-dev">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-4.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-4.jpg" class="link-preview" data-lightbox="portfolio"
                data-title="Quisque lectus mauris" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Quisque lectus mauris --> <span>Développement web</span></h4>
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item app-dev">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-5.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-5.jpg" class="link-preview" data-lightbox="portfolio"
                data-title="Interdum et malesuada" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Interdum et malesuada --> <span>Développement mobile</span></h4>
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item app-dev">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/portfolio-6.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio-6.jpg" class="link-preview" data-lightbox="portfolio"
                data-title="Pellentesque lacus" title="Preview"><i class="fa fa-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
              <h4 class="portfolio-title"><!-- Pellentesque lacus --> <span>Développement mobile</span></h4>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio End -->

  <!-- Testimonials Start -->
  <!-- <div class="testimonials" id="testimonials">
            <div class="container">
                <i class="fa fa-4x fa-quote-left"></i>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                        <h3>Abigail Shaw</h3>
                        <h4>Greenhouse worker</h4>
                        <p>
                            Duis elementum consequat feugiat. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus malesuada fames turpis egestas. 
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                        <h3>Jake Gregory</h3>
                        <h4>News correspondent</h4>
                        <p>
                            Curabitur bibendum euismod augue, eu rutrum metus consectetur id. Duis lacus erat, gravida laoreet molestie eget, congue in erat.
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                        <h3>Maddison Hughes</h3>
                        <h4>Social worker</h4>
                        <p>
                            Nulla at luctus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim quam, interdum nec turpis at, volutpat ultricies ligula.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
  <!-- Testimonials End -->

  <!-- Contact Start -->
  <div class="contact" id="contact">
    <div class="container">
      <div class="section-header">
        <h3>Contactez moi</h3>
        <p>
          Que vous soyez un professionnel, un collègue, un étudiant ou un simple visiteur, je suis impatient de discuter
          avec vous. N'hésitez pas à choisir l'option qui vous convient le mieux pour me contacter, et je ferai de mon
          mieux pour vous répondre dans les plus brefs délais. </p>
      </div>

      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="contact-info">
            <p><i class="fa fa-user"></i>MEBOUGA MESSIA Lina Jephtée</p>
            <p><i class="fa fa-tag"></i>Stagiaire</p>
            <p><i class="fa fa-map-marker"></i>Yaoundé, CE, Cameroun</p>
            <p><i class="fa fa-envelope"></i><a href="linamebouga@gmail.com">linamebouga@gmail.com</a></p>
            <p><i class="fa fa-phone"></i><a href="tel:+237 657-06-71-39">+237 657-06-71-39</a></p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form">
            <form action="" method="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Nom" />
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" placeholder="Adresse mail" />
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Sujet" />
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Message"></textarea>
              </div>
              <div><button type="submit">Envoyez</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

  <!-- Footer Start -->
  <div class="footer">
    <div class="container">
      <div class="copyright">
        <p>&copy; Copyright <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
        <p>Powered by <a href="https://htmlcodex.com">HTML Codex</a></p>
      </div>
    </div>
  </div>
  <!-- Footer end -->

  <!-- Back to Top -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  
</body>

</html>


<router-outlet></router-outlet>